//main: ..//style.less




@media (max-width:1024px) {
    .header {
        background-position: -290px;

        .container {
            max-width: 500px;

            .header__wrapper {
                max-width: 100%;
            }
        }
    }

    .cause {
        .cause_wrapper {
            max-width: 900px;
        }

        .cause__list {
            font-size: 14px;
        }
    }

    .evonarm__course {
        .wrapper__course {
            flex-direction: column;
        }

        .course__list {
            width: 90%;
            margin-bottom: 30px;
            font-size: 17px;

            li {
                padding: 0;
                line-height: 30px;
            }
        }
    }

}


@media (max-width:768px) {
    .header {
        padding: 30px 0;
        margin-bottom: 50px;
        background-image: none;



        .header__pictures {
            flex-direction: column;
        }

        .header__wrapper {
            float: none;
        }
    }

      
    .cause {

     .cause_wrapper {
        flex-direction: column;

        .cause__item {
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
            img{
                width: 100%; 
             }

            .cause__list{
                h3{
                    font-size: 16px;
                }
                order: 3;
                .descr{
                    font-size: 15px;
                }
                li{
                    margin-top: 25px;
                    size: 15px;
                    line-height: 18px;
                }
            }
            h3 {
                line-height: 30px;
            }
        }
    }
}
        .evonarm__course {
            h3{
                font-size: 20px;
            }
        .wrapper__course {
            max-width: 100%;
            margin-top: 20px;
            .course__list {
                max-width: 100%;
              
    
            }
        }
    }
    .result{
        padding: 90px 0;
        .result_wrapper{
            h3{
                margin-top: 20px;
            }
            .result_list{
            margin-top: 15px;

            li{
                font-size: 15px;
            }
        }
        }

    }

    .form {
        max-width: 100%;
        margin: auto;

        .form__inner {
            width: 235px;
            flex-direction: column;
            margin: 30px auto;

            input {
                margin-bottom: 30px;
            }
        }
    }

    .bg3 {
        height: 300px;
    }


    .b8 .descr {
        .descr_wrapper {
            max-width: 100%;
            h3{
                font-size: 20px;
            }
            p{
                font-size: 15px;
                line-height: 18px;
            }
            h2{
                font-size: 20px;
            }
        }
    }
    .b9{
        .b9__inner{
            margin: 0;
        }
    }
}

@media (max-width:426px){
    .b7{
        min-height: 150px;
    }
    .b8{
        .descr {
        .descr_wrapper {
            width: 90%;
            }   
        }
    }
    .form {
        width: 370px;}
}

@media (max-width:376px) {
    .header {
        background-image: none;
    }


    .result {
        .result_wrapper {
            max-width: 100%;

            h3 {
                font-size: 20px;
            }

            .result_list {
                li {
                    font-size: 13px;
                }
                img{
                    margin-right: 5px;
                }
            }
        }
    }

    .cause {
        .cause_wrapper {
            .cause__item {

                margin-top: 40px;
                max-width: 100%;
                img{
                   width: 100%; 
                }
            }
        }

    }

    .bg3 {
        display: none;
    }


  
    .b8{
        .descr {
        .descr_wrapper {
            
            h3{
                font-size: 20px;
            }
            p{
                font-size: 15px;
                line-height: 18px;
            }
            h2{
                font-size: 20px;
            }
        }
    }
    } 
    .evonarm__course {
        h3 {
            margin-top: 0px;
        }

        .wrapper__course {
            width: 100%;
            margin-top: 10px;

            .course__list {
                width: 85%;

                li {
                    font-size: 14px;
                    line-height: 20px;
                }

            }

        }

    }

}

@media (max-width:320px) {
    .header {
        width: 100%;
        background-image: none;
        .header__pictures{
            .header__picture{
                img{height: 200px;}
            }
        }
    }


    .result {
        .result_wrapper {
            width: 100%;
            .result__picture{
                img{
                    width: 100%;
                    
                }
                
            }

            h3 {
                font-size: 18px;
            }

            .result_list {

                li {
                    font-size: 11px;
                }
            }
        }
    }

    .cause {
        .cause_wrapper {
            width: 280px;
            .cause__item {

                margin-top: 40px;
                width: 100%;
            }
        }

    }

    .bg3 {
        display: none;
    }



    .evonarm__course {
        h3 {
            margin-top: 0px;
        }

        .wrapper__course {
            width: 90%;
            margin-top: 10px;

            .course__list {
                width: 100%;

                li {
                    font-size: 14px;
                    line-height: 20px;
                }

            }

        }

    }

    .b8 {
    .descr {
        .descr_wrapper {
            h3{
                font-size: 20px;
            }
            p{
                font-size: 15px;
                line-height: 18px;
            }
            h2{
                font-size: 20px;
            }
        }
    }
    }

    footer{
        .footer_wrapper{
            max-width: 100%;
            .footer__picture{
                max-width: 100%;
                img{height: 220px;}
            }
        }
    }



}